<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652592799872-2ppfmdkbbjvb8865keqnm3sfdth9m9tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652592799872-2ppfmdkbbjvb8865keqnm3sfdth9m9tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>652592799872-ce4muj5mou90a9r0lomn77pqghq064d0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBq8WIuD2QLTCTCEiPMIUa0Np8317WmwhI</string>
	<key>GCM_SENDER_ID</key>
	<string>652592799872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>virtual-mall</string>
	<key>PROJECT_ID</key>
	<string>virtual-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-mall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652592799872:ios:e3626c2b041dcfebc38665</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-mall.firebaseio.com</string>
</dict>
</plist>